.box{

  position: absolute;
  left: 0px;
  top: 0px;

background-image: url('../../../../../assets/images/bg.svg');
background-size: cover;


  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url('../../../../../assets/images/download.jpeg'); */

}

/* Rectangle 44 */

