

  <!-- Column -->
  <div class="card">
      <div class="card-body little-profile text-center">

          <div class="pro-img"><img [src]="user.profile || '../../../assets/images/dummy-image.jpeg'" alt="user"></div>
          <h3 class="m-b-0 text-dark">{{user.fullname}}</h3>
          <h6><i class="fa-solid fa-location-dot"></i> {{user.country}}</h6>
          <div *ngIf="!loggedIn">

            <a  class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded py-1" data-abc="true" style="font-size: medium; width:100%" (click)="follow()" *ngIf="!following"><i class="fa-solid fa-circle-plus py-1" style="margin-right:10px;"></i> Follow</a>
            <a  class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded py-1" data-abc="true" style="font-size: medium; width:100%" (click)="unfollow()" *ngIf="following"><i class="fa-solid fa-circle-minus py-1" style="margin-right:10px;"></i> Unfollow</a>
           <a  class="m-t-10 waves-effect waves-dark border btn btn-md btn-rounded py-1 mt-2 msg" data-abc="true" style="font-size: medium; width:100%"><i class="fa-regular fa-message py-1" style="margin-right:10px; margin-left: 15px;"></i>Message</a>
          </div>
          <div *ngIf="loggedIn">
            <a  class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded py-1" data-abc="true" style="font-size: medium; width:100%" *ngIf="!following"  href="profile/edit?tab=0"><i class="fa-solid fa-circle-plus py-1" style="margin-right:10px;"></i> Account Settings</a>
          </div>
          <div class="row text-center m-t-20" style="margin-left: 20px; margin-right: 20px;">
              <div class="m-t-20 d-flex justify-content-between  ">
                Likes<h5 class="m-b-0 font-light">10434</h5>
              </div>
              <a class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="followers()">

                <div class="d-flex justify-content-between ">
                  Followers<h5 class="m-b-0 font-light">{{user.followers.length}}</h5>
                </div>
              </a>
              <a class="btn py-0 my-0" data-bs-toggle="modal" data-bs-target="#exampleModal2" (click)="isfollowing()">

                <div class="d-flex justify-content-between">
                  Following<h5 class="m-b-0 font-light">{{user.following.length}}</h5>
                </div>
              </a>
          </div>
          <p class="text-start mt-4 mb-1 mx-3" style="font-size: x-small; font-family: Verdana, Geneva, Tahoma, sans-serif;">ABOUT</p>
          <div class="card mt-0 text-start px-3 py-2 text-secondary mx-3" style="height:150px;">
            <h6 *ngIf="user.bio!=''">{{user.bio}} </h6>
            <h6 *ngIf="user.bio==''">This user has no bio </h6>
          </div>
      </div>
  </div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <h1 class="text-center"> {{users.length}} followers</h1>
  <div class="container pt-5 ">

    <div class="row mx-0 px-0">
      <div class="col-xl-5 col-md-6 mb-4" *ngFor="let user of obs|async">
        <mat-card>
          <mat-card-content style="display: flex; align-items: center; gap:10px; border:1 px; justify-content:space-between;">
            <div class="d-flex align-items-center" style="gap:10px;">

              <img [src]="user.profile==''?  '../../../../assets/images/dummy-image.jpeg': user.profile" alt="">
              <h5>{{user.fullname}}</h5>
            </div>
            <a class="btn btn-outline-primary" data-bs-dismiss="modal" [routerLink]="['/user', user.user_id]" > View details</a>
          </mat-card-content>
        </mat-card>
        <!-- <app-user-card [user]="user"></app-user-card> -->
      </div>
      <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
    </div>
  </div>

</div>
</div>
</div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <h1 class="text-center">Following {{users.length}}</h1>
  <div class="container pt-5 ">

    <div class="row mx-0 px-0">
      <div class="col-xl-5 col-md-6 mb-4" *ngFor="let user of obs|async">
        <mat-card>
          <mat-card-content style="display: flex; align-items: center; gap:10px; border:1 px; justify-content:space-between;">
            <div class="d-flex align-items-center" style="gap:10px;">

              <img [src]="user.profile==''?  '../../../../assets/images/dummy-image.jpeg': user.profile" alt="">
              <h5>{{user.fullname}}</h5>
            </div>
            <a class="btn btn-outline-primary" data-bs-dismiss="modal" [routerLink]="['/user', user.user_id]" > View details</a>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
    </div>
  </div>

</div>
</div>
</div>
</div>
