<app-a-navbar [artwork]="artwork"></app-a-navbar>
<div class="row mx-0 p-5">
  <div class="col-8 container">
    <mat-card>
      <mat-card-content>

        <h6>Title</h6>
        <input type="text" class="form-control" style="background-color: transparent; " [(ngModel)]="artwork.title" >
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>

        <h6>Description</h6>
        <textarea rows="6" class="form-control" style="background-color: transparent; " [(ngModel)]="artwork.description" ></textarea>
      </mat-card-content>
      <mat-card>
        <mat-card-content>
          <h6>Tags</h6>
          <div id="editable-tags" class=" card border pt-3 mb-3" style="margin-bottom: 5px;">
            <div class="component-wrapper"
              id="component-storytags-storytags-%2fmyworks%2f309326541-scribbles-%25c2%25bb-g-port-v-3">
              <div class="">
                <ul class="tag-list" style="text-decoration: none; list-style: none ;">
                  <li *ngFor="let tag of artwork.tags"><a
                      class="btn btn-sm rounded-pill btn-secondary mx-1 px-2 py-0">{{tag}}</a></li>

                </ul>
              </div>
            </div>
          </div>

          <h6>Add new tag</h6>
          <input type="text" class="form-control" style="background-color: transparent; "  [(ngModel)]="tag" (keydown)="onInputKeydown($event)" autocomplete="off">
        </mat-card-content>
      </mat-card>
    </mat-card>

  </div>
  <div class="col-4 container">
    <mat-card>
      <mat-card-content>
        <img [src]="artwork.artwork" alt="" width="100%">
        <button class="redirect my-3 col-12" uploadButton [uploadOptions]="options" [uploadComplete]="onComplete">Upload Artwork</button>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>

        <h6>Category</h6>
        <select id="categoryselect" class="form-select" name="cat" [(ngModel)]="artwork.category">
          <option *ngFor="let c of categories" [value]="c._id">{{c.name}}</option>
        </select>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>

        <h6>Copyrights</h6>
        <select class="form-select" id="select-form-component" aria-label="Copyright options"
        name="copyright" [(ngModel)]="artwork.copyright">
        <option value="All Rights Reserved">All Rights Reserved</option>
        <option value="Public Domain">Public Domain</option>
        <option value="Creative Commons (CC) Attribution">Creative Commons (CC) Attribution</option>
        <option value="(CC) Attrib. NonCommercial">(CC) Attrib. NonCommercial</option>
        <option value="(CC) Attrib. NonComm. NoDeriv">(CC) Attrib. NonComm. NoDerivs</option>
        <option value="(CC) Attrib. NonComm. ShareAlike">(CC) Attrib. NonComm. ShareAlike</option>
        <option value="(CC) Attribution-ShareAlike">(CC) Attribution-ShareAlike</option>
        <option value="(CC) Attribution-NoDerivs">(CC) Attribution-NoDerivs</option>
      </select>
      </mat-card-content>
    </mat-card>
  </div>
</div>


