.chapter-header {
  background-color: #ffffff;
  padding: 10px;
}

/* Style the chapter title input field */
.chapter-title {
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  margin-bottom: 10px;
  /* Add any additional styles you need */
}


.section1,
.section2 {
  float: left;
}

.section1 {
  width: 80%;
  max-width: 600px;
}

.section2 {
  width: 20%;
  max-width: 158px;
  overflow-wrap: break-word;
  padding-left: 10px;
  padding-right: 10px;
}

.ql-toolbar,
.ql-editor,
.ql-blank {
  background: #fff;
  color: #000;
}

#quill-editor {
  height: 100%;
  font-size: medium;

}

.ql-showHtml {
  margin-right: 8px;
}

.ql-showHtml:after {
  content: "<html>";
}

.ql-picker.ql-emailVars {
  width: 160px;
}

.ql-picker.ql-emailVars .ql-picker-item::before,
.ql-picker.ql-emailVars .ql-picker-label::before {
  content: 'Custom'
}

.ql-picker.ql-emailVars [data-value="1"]::before {
  content: '{AccountURL}'
}

.ql-picker.ql-emailVars [data-value="2"]::before {
  content: '{FirstName}'
}

.ql-picker.ql-emailVars [data-value="3"]::before {
  content: '{Login}'
}

.ql-picker.ql-emailVars [data-value="4"]::before {
  content: '{OrganizationName}'
}

.ql-picker.ql-emailVars [data-value="5"]::before {
  content: '{SupportEmail}'
}

