.redirect{
  background-color: rgb(255, 255, 255);
  color:#2e1c2d;
  border-radius: 20px;
  transition: background-color 0.3s ease; /* Add a transition for background-color */
  cursor: pointer;
  border-color:#2e1c2d !important ;
}

.redirect:hover {
  background-color: #2e1c2d;
  color:white;
  border-color:white !important ; /* Change background color on hover */
}

.redirect:active {
  background-color: #4e2e4c; /* Change background color when clicked */
}
