<app-navbar></app-navbar>

<div class="container-fluid bg-white px-0" *ngIf="isChapter">
  <div class="col-12 sticky-top">
    <div class="bottom d-lg-flex justify-content-between align-items-center py-lg-0 dropdown" >
      <mat-card class="book-card col-lg-3 col-12 dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
        <mat-card-content>

          <div class="cover-image">
            <img [src]="book.cover" alt="Book Cover">
          </div>
          <a [href]="'/create/book/'+book.book_id">

            <div class="book-details">
              <mat-card-title class="fs-6"> {{ book.title }}</mat-card-title>
              <mat-card-subtitle>{{ book.chapters.length }} Chapters</mat-card-subtitle>
            </div>
          </a>

        </mat-card-content>


      </mat-card>
      <button mat-stroked-button  class="me-lg-5 me-3 px-4" *ngIf="!chapter.votes.includes(user._id)" (click)="vote()" style="border-radius: 0;">Vote</button>
      <button mat-flat-button  class="me-lg-5 me-3 px-4" *ngIf="chapter.votes.includes(user._id)&&chapter.votes" (click)="vote()" style="border-radius: 0;">Voted!</button>

      <ul class="dropdown-menu col-lg-3" style="border-radius:0;">
        <li *ngFor="let ch of book.chapters"><a class="dropdown-item" [routerLink]="'/browse/books/chapter/'+ch.chapter_id">{{ ch.title}}</a></li>

      </ul>
    </div>
    </div>
  <div class="chapter-header d-flex flex-column mt-5 align-items-center ">
    <!-- Input field for editing the chapter title -->
    <h2 class="chapter-title">{{chapter.title}}</h2>
    <div class="d-flex justify-content-center align-items-center  " style="gap:8px">
      <span class="text-center text-secondary" style="font-size: 15px;"><i class="fa fa-star text-center me-1" ></i>{{chapter.votes.length}}</span>
      <span class="mx-1" style="font-size: 15px;">|</span>
      <span class="text-center text-secondary" style="font-size: 15px;"><i class="fa fa-comment text-center me-1" ></i>{{count}}</span>
    </div>
  </div>
  <div class="container px-lg-5 mt-3">
    <hr >
  </div>
  <div [innerHTML]="chapter.content" class="container px-lg-5 px-2 mt-5" style="min-height: 300px;">
  </div>
  <app-read-button *ngIf="next&&next.chapter_id!=''" [chapter_id]="next.chapter_id"></app-read-button>
  <div class="d-flex justify-content-center col-12 mt-3" style="gap:10px;">
    <button mat-stroked-button [color]="'primary'" class="col-3 btn" *ngIf="!chapter.votes.includes(user._id)" (click)="vote()" >Vote</button>
    <button mat-flat-button [color]="'primary'" class="col-3 btn" *ngIf="chapter.votes.includes(user._id)&&chapter.votes" (click)="vote()">Voted!</button>
    <a [routerLink]="'/report/chapter/'+chapter.chapter_id" style="text-decoration: none;" class="btn btn-outline-danger col-3 py-0" style="border-radius: 0;">
       <i class="fa-solid fa-flag"></i> Report this chapter
    </a>
  </div>

  <hr>
  <div class="d-flex justify-content-center align-items-center ">

    <div class="col-8">
      <app-comments [id]="chapter_id" [item]="chapter" [place]="'chapter'" (commentCount)="findCount($event)"></app-comments>

    </div>
  </div>

 </div>
