

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="container p-3 mb-5 rounded col-lg-8 col-8 mt-5" style="background-color: rgb(243, 240, 245);">
          <form id="form1">
            <div class="container bg-white p-4 mb-4">
              <div class="form-outline mb-4">
                <label class="form-label" for="name">Cover picture</label>
                <button class="btn btn-primary my-3 mx-3"
                uploadButton
                [uploadOptions]="options"
                [uploadComplete]="onComplete"
              >
                Upload a file...
              </button>
              <div class="container"  style=" width: 100%; height: 200px;" *ngIf="cover_url">
                <img [src]="cover" style="max-width: 100%; max-height: 100%; " >
              </div>
              </div>
            </div>


            <div class="container bg-white p-4 mb-4">
              <div class="form-outline mb-4">
                <label class="form-label" for="name">Category Name</label>
                <div class="input-group form-outline mb-4">
                  <input type="text" id="name" name="name" class="form-control" [(ngModel)]="name" required />
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary btn-block mb-4 col-lg-3" (click)="submit()">
                Submit
              </button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </section>


