<div class="col-12">
  <div class="top d-flex align-items-center justify-content-between" >
    <span class="d-flex mx-2 align-items-center">
      <img
      src="../../../../../assets/images/CreativeFlow-logos_white.png"
      alt=""
      width="50px"
    />
    <p class="text-5 fs-5 mt-3">BehindFlow</p>
    </span>



  </div>
  <div class="bottom d-flex justify-content-between align-items-center py-lg-0 py-4" >
    <div class="d-md-flex d-none justify-content-start align-items-center mx-3">
      <a [href]="'/moderator'" class="link navlink">Reports</a>
      <a class="mx-2 navlink">|</a>
      <a [href]="'/moderator/users'" class="link navlink">Users</a>
      <a class="mx-2 navlink">|</a>
      <a [href]="'/moderator/books'" class="link navlink">Books</a>
      <a class="mx-2 navlink">|</a>
      <a [href]="'/moderator/books'" class="link navlink">Artworks</a>
    </div>
    <div class="d-md-none justify-content-start align-items-center mx-3 d-flex">
      <a routerLink="/profile" class="link navlink" ><i class="fa-solid fa-user"></i> Account</a>
      <a class="mx-2" >|</a>
      <a  class="link"  (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>

    </div>
  </div>
  </div>


  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="background-color: #b39eb1;">
    <div class="offcanvas-header d-flex justify-content-center">
    <span class="d-flex mx-2 align-items-center">
      <img
      src="../../../../../assets/images/CreativeFlow-logos_white.png"
      alt=""
      width="50px"
    />
    <p class="text-5 fs-5 mt-3 text-light">CreativeFlow</p>
    </span>
    <button type="button" class="btn-close text-reset text-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column align-items-center text-light">
      <a routerLink="/" class="w-100 text-center py-2 text-light" style="border-bottom: solid 1px !important;">Home</a>

      <a routerLink="/browse/books" class="w-100 text-center py-2 text-light" style="border-bottom: solid 1px !important;">Books</a>

      <a routerLink="/browse/artworks" class="w-100 text-center py-2 text-light" style="border-bottom: solid 1px !important;">Artworks</a>

      <a routerLink="/browse/people" class="w-100 text-center py-2 text-light" style="border-bottom: solid 1px !important;">People</a>

      <a routerLink="/" class="w-100 text-center py-2 text-light" style="border-bottom: solid 1px !important;">Services</a>

      <a routerLink="/profile" class="w-100 text-center py-2 text-light" style="border-bottom: solid 1px !important;">Account</a>
      <button type="button" class="btn btn-secondary w-100 mt-3">Logout</button>
    </div>
  </div>
</div>
