
<div class="chat container-fluid">
  <div class="chat-header clearfix">
    <img [src]="receiver.profile!=''? receiver.profile : '../../../assets/images/dummy-image.jpeg'" alt="avatar" width="50px" />

    <div class="chat-about">
      <div class="chat-with">Chat with {{receiver.fullname}}</div>
      <div class="chat-num-messages"> {{messages.length}} messages</div>
    </div>
    <i class="fa fa-star"></i>
  </div> <!-- end chat-header -->

  <div class="chat-history" #message [scrollTop]="message.scrollHeight">
    <ul>
      <li *ngFor="let m of messages" [ngClass]="{
        'clearfix':m.from==user._id,
        'last-message':m==messages[messages.length-1]
      }" >
        <div class="message-data"  [ngClass]="m.from==user._id?'align-right':''">
          <span class="message-data-time" >{{m.createdAt | date:'medium'}}</span> &nbsp; &nbsp;
        </div>
        <div class="message"  [ngClass]="{
          'float-right other-message': m.from === user._id,
          'my-message': m.from !== user._id
        }">
          {{m.message}}
        </div>
      </li>


      <!-- <li>
        <div class="message-data">
          <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
          <span class="message-data-time">10:12 AM, Today</span>
        </div>
        <div class="message my-message">
          Are we meeting today? Project has been already finished and I have results to show you.
        </div>
      </li> -->

    </ul>

  </div> <!-- end chat-history -->

  <div class="chat-message clearfix">
    <textarea name="message-to-send border border-secondary" id="message-to-send" placeholder ="Type your message" rows="3" [(ngModel)]="msg"></textarea>

    <!-- <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
    <i class="fa fa-file-image-o"></i> -->

    <button (click)="send()">Send</button>

  </div> <!-- end chat-message -->

</div> <!-- end chat -->



