<div class="container-fluid" style=" background-color: rgb(82, 27, 65)">

  <div class="container col-12">

    <section class="section register min-vh-100 d-flex flex-column  justify-content-center py-4 col-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-10 d-flex flex-column align-items-center justify-content-center">


            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">BehindFlow</h5>
                  <p class="text-center small">Enter your username & password to login</p>
                </div>

                <form class="row g-3 needs-validation" validate>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Username</label>
                    <div class="input-group has-validation">
                      <input type="text" name="username" class="form-control" id="yourUsername" [(ngModel)]="username" required>

                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Password</label>
                    <div class="input-group">
                      <input [type]="hide ? 'password' : 'text'" name="password" class="form-control" id="yourPassword" [(ngModel)]="password" required>
                      <span class="input-group-btn border bg-white text-secondary">
                        <button mat-icon-button matSuffix (click)="hide = !hide"  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button" >
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                      </span>
                    </div>
                  </div>

                  <div class="col-12">

                  </div>
                  <div class="col-12 mb-4">
                    <button class="btn btn-primary w-100" (click)="login()">Login</button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</div>
