
<header id="header" class="header fixed-top d-flex align-items-center" style="background-color: #5e3e5c;">

  <div class="d-flex align-items-center justify-content-between">
    <i class="fa-solid fa-bars toggle-sidebar-btn  text-light" (click)="toggle()"></i>

    <a href="/behindflow" class="logo d-flex align-items-center mx-4">
      <span class="text-light">CreativeFlow</span><span class="mx-2 text-white" style="font-style: italic; font-weight: normal;">Admin</span>
    </a>
  </div>
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li>
      <li class="nav-item  pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" (click)="logout()">

          <span class="d-none d-md-block ps-2 text-light">Logout</span>
        </a>      </li>    </ul>
  </nav></header>
<div [ngClass]="{'toggle-sidebar': isSidebarToggled}">

  <aside id="sidebar" class="sidebar" >

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link" href="/behindflow" [ngClass]="{'collapsed': activeRoute !== '/behindflow'}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Genres</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a [routerLink]="'/behindflow/genres'" [ngClass]="{'collapsed': activeRoute !== '/behindflow'}">
              <i class="bi bi-circle"></i><span>Categories</span>
            </a>
          </li>
          <li>
            <a [routerLink]="'/behindflow/genres/add'">
              <i class="bi bi-circle"></i><span>Add Category</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#artists-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Artfields</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="artists-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a [routerLink]="'/behindflow/artfields'">
              <i class="bi bi-circle"></i><span>Categories</span>
            </a>
          </li>
          <li>
            <a [routerLink]="'/behindflow/artfields/add'">
              <i class="bi bi-circle"></i><span>Add Category</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#services-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Services</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="services-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a [routerLink]="'/behindflow/services'">
              <i class="bi bi-circle"></i><span>Categories</span>
            </a>
          </li>
          <li>
            <a [routerLink]="'/behindflow/services/add'">
              <i class="bi bi-circle"></i><span>Add Category</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="'/behindflow/providers'">
          <i class="bi bi-grid"></i>
          <span>Providers</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="'/behindflow/users'">
          <i class="bi bi-journal-text"></i><span>Users</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="'/behindflow/transactions'">
          <i class="bi bi-bar-chart"></i><span>Transactions</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" [routerLink]="'/behindflow/reports'">
          <i class="bi bi-bar-chart"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
      </li>


    </ul>

  </aside>
</div>





