*,
*:before,
*:after {
  box-sizing: border-box;
}


.wrap {
  background: #b2a0b5;
  border-radius: 5px;
}

.people-list {
  float: left;

}



.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  background: #f5f1f6;
  font-size: 17px;
  width:94%;
}

.people-list .fa-search {
  position: relative;
}

.people-list ul {
  padding:0;
  width:95%;
  overflow-y: scroll;
}

.people-list ul li {
  list-style: none;
  padding-bottom: 20px;
}

.people-list img {
  float: left;
  width: 60px;
  border-radius: 50px;
}

.people-list .about {
  float: left;
  margin-top: 8px;
}

.people-list .about {
  padding-left: 8px;
}

.chat {
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}


.people-list ul::-webkit-scrollbar {
  width: 0.2rem; /* Set the width to a very small value */
}

/* Customize the scrollbar track */
.people-list ul::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color to transparent */
}

/* Customize the scrollbar thumb (the draggable part) */
.people-list ul::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the thumb color to transparent */
}





.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix{
  padding:20px;

  border:1px solid rgb(72, 52, 72)
}

.clearfix:hover{
  background-color: #927491;
}
.search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  background: #fff;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #4b2c45;
  cursor: pointer;
}






