<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>

<ng-container matColumnDef="slno">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>SL No</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container *ngFor="let column of columns;let i = index" matColumnDef="{{ column }}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ displayedColumns[i] }}</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="column!='access'&&column!='cover'">{{ element[column] }} </div>
      <button  class="btn rounded-pill btn-success py-0" *ngIf=" column=='access' && element.access">Active
      </button>
      <button class="btn rounded-pill btn-danger py-0" *ngIf="column=='access' && !element.access">
        Blocked
      </button>
      <img [src]="element[column]" *ngIf="column=='cover'" style="height:47px; width:146px; margin-top:5px;">
    </td>
  </ng-container>

  <ng-container *ngFor="let action of actions" matColumnDef="{{ action }}">
    <th mat-header-cell *matHeaderCellDef>{{ action }}</th>
    <td mat-cell *matCellDef="let element">
      <!-- Pass the action name as 'type' and 'user_id' from the element -->
      <app-action-button [type]="type" [action]="action" [id]="element[id]" ></app-action-button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="['slno'].concat(columns,actions);"></tr>


  <tr mat-row *matRowDef="let row; columns: ['slno'].concat(columns,actions);"></tr>
</table>
<mat-paginator  [pageSizeOptions]="[5,10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
