<div class=" p-0 m-0 col-12" style="height:100vh; display: flex;
flex-direction: column;">

  <app-navbar></app-navbar>
  <!-- <h2 class="my-4 text-center">Socialize with our users!</h2> -->
  <main class="d-flex justify-content-center" style="flex:1;">

    <div class="col-12 wrap d-lg-flex justify-content-center" style="flex:1;" >
      <div class="people-list col-lg-3 col-12 my-4 mx-lg-4 mx-0 mb-0 ms-1" id="people-list"  >
        <div class="search input">
          <input type="text" placeholder="search" [(ngModel)]="searchQuery" />
          <i class="fa fa-search"></i>
        </div>
        <ul class="list mt-4">
          <li class="clearfix d-flex align-items-center" *ngFor="let c of searchUsers" (click)="openChat(c.user_id)"
            style="gap:10px">
            <img [src]="c.profile!=''? c.profile : '../../../assets/images/dummy-image.jpeg'">
            <div class="about">
              <div class="name fs-4">{{c.fullname}}</div>
            </div>
          </li>
        </ul>
      </div>

      <div class="chat container-fluid" *ngIf="isChat">
        <app-messages></app-messages>
      </div>
      <div class="chat container-fluid d-flex justify-content-center align-items-center flex-column" *ngIf="!isChat">
        <img src="../../../../assets/images/pngegg.png" width="60%" alt="">
        <h3 >You are not in any chatroom currently</h3></div>
    </div> <!-- end container -->
  </main>
</div>
